//Asegurate de estar en la rama main!

:root {
  //Colores
  --landingBackground: #f9e8e5;
  --orangeMain: #4f1d57;
  --fontColor: #4f1d57;

  //Fuentes
  --mainFont: "Open Sans", sans-serif;
  --previewFont: "Montserrat", sans-serif;
}

html{
  font-size: 62.5%;
}
