//Asegurate de estar en la rama main!

:root {
  //Colores
  --landingBackground: #f5f5f5;
  --orangeMain: #e17334;
  --colortextfooter: #d8d8d8;

  //Fuentes
  --mainFont: "Open Sans", sans-serif;
  --previewFont: "Montserrat", sans-serif;
}
