//Asegurate de estar en la rama main!

:root {
  //Colores
  --landingBackground: #f5f5f5;
  --orangeMain: #e17334;
  --fontColor: #54585a;

  //Fuentes
  --mainFont: "Open Sans", sans-serif;
  --previewFont: "Montserrat", sans-serif;
}

<<<<<<< HEAD
html {
  font-size: 62.5%;
}
=======
html{
  font-size: 62.5%;
}
>>>>>>> preview
