.footer {
  // crear variable para el color de los bordes?  border: solid 1px var(--white-three);
  background-color: antiquewhite;
  border-top: 1px solid grey;
  bottom: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_paragraph {
    // meter variable en la main del color de la letra?
    --mainFont: "Open Sans", sans-serif;
    text-align: center;
    padding: 10px;
  }

  &-image {
    width: 103px;
    height: 40px;
    padding: 10px;
  }
}
