.preview{
    background-color: #bfcdd0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__button{
        
        border: 0.1rem solid white;
        background-color: #bfcdd0;
        font-size: 1.2rem;
        margin-right: 17rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 0.7rem;
        padding-right: 1.2rem; 
        border-radius: 25%;
        font-family: var(--mainFont);
        color: #54585a;
        
        
    }

    &__card{
        height: 38rem;
        width: 24rem;
        margin-top: 2rem;
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 25rem;
        padding-right: 2rem;
        
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.1rem 1rem 0 rgba(0,0,0,.2);

        &--text{
            font-family: var(--previewFont);
            line-height: 1.5;
            padding-left: 2rem;
            
            margin-bottom: 1rem;
            border-left: 0.5rem solid #438792;
            
                      
            &-name{
                font-size: 1.8rem;
                font-weight: bold;
                color: #114e4e;
            }
            &-front{
                font-size: 1.6rem;
                font-weight: 550;
                color: #54585a;
            }
           
        }

        &--img{
           margin-left: 0;
           
           padding-bottom: 1rem;

        }
            
        &--socialmedia{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 3.2rem;
            width: 3.2rem;
            padding-left: 1.5rem;
            
            margin: 1rem;
            gap: 0.8rem;
           
            
            

            &-phone{
                border: 0.2rem solid #a2deaf;
                border-radius: 100%;
                padding: 0.7rem 1rem;
                text-decoration: none;
                color: #114e4e;
                
                
                
            }
            &-mail{
                border: 0.2rem solid #a2deaf;
                border-radius: 100%;
                padding: 0.7rem 0.9rem;
                text-decoration: none;
                color: #114e4e;
            }
            &-linkedin{
                border: 0.2rem solid #a2deaf;
                border-radius: 100%;
                padding: 0.7rem 1rem;
                text-decoration: none;
                color: #114e4e;
            }
            &-github{
                border: 0.2rem solid #a2deaf;
                border-radius: 100%;
                padding: 0.7rem 1rem;
                text-decoration: none;
                color: #114e4e;
            }
        }
    }
}

