<main class="landing">

    <img src="./images/logo_mysticards.png" alt="Logo MystiCards" class="landing__logo">

    <div class="landing__text">
        <h1 class="landing__text--title">Crea tu tarjeta de visita</h1>
        <p class="landing__text--paragraph">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>

    <div class="landing__icons">
        <div class="landing__icons--design landing__icons--block">
            <i class="fa-regular fa-object-ungroup landing__icons--item"></i>
            <span class="landing__icons--text">Diseña</span>
        </div>

        <div class="landing__icons--fill landing__icons--block">
            <i class="fa-solid fa-keyboard landing__icons--item"></i>
            <span class="landing__icons--text">Rellena</span>
        </div>

        <div class="landing__icons--share landing__icons--block">
            <i class="fa-sharp fa-solid fa-share-nodes landing__icons--item"></i>
            <span class="landing__icons--text">Comparte</span>
        </div>
    </div>

    <a href="./preview.html" class="landing__btn">COMENZAR</a>

</main>