<section class="form__section">
    <form class="form">

        <fieldset class="form__fieldset--design">
            <legend>DISEÑA</legend>
            <div class="design">
                <label class="design__title">COLORES</label>
                <div>
                        <div class="radio__option">
                                <input 
                                type="radio" 
                                id="greenPalette" 
                                name="palette"
                                class="radio__check"
                                value="greenPalette"
                                />
                                <label for="greenPalette">
                                    <div class="color">
                                        <div class="box color__deep--green"></div>
                                        <div class="box color__medium--green" ></div>
                                        <div class="box color__light--green"></div>
                                    </div>
                                </label>
                        </div>

                        <div class="radio__option">
                            <input 
                            type="radio" 
                            id="redPalette" 
                            name="palette"
                            class="radio__check"
                            value="redPalette"
                            />
                            <label for="redPalette">
                                <div class="color">
                                    <div class="box color__deep--red"></div>
                                    <div class="box color__medium--red" ></div>
                                    <div class="box color__light--red"></div>
                                </div>
                            </label>
                        </div>

                        <div class="radio__option">
                                <input 
                                type="radio" 
                                id="yellowPalette" 
                                name="palette"
                                class="radio__check"
                                value="yellowPalete"
                                />
                                <label for="yellowPalete">
                                    <div class="color">
                                        <div class="box color__deep--grey"></div>
                                        <div class="box color__yellow" ></div>
                                        <div class="box color__light--grey"></div>
                                    </div>
                                </label>
                        </div>
                </div>
            </div>
        </fieldset>
            

        <fieldset class="form__fieldset--fill">
            <legend>RELLENA</legend>

            <label for="completeName">Nombre completo</label>
            <input 
            type="text"
            id="completeName"
            name="data"
            placeholder="Ej. Sally Jill">
            
            <label for="position">Puesto</label>
            <input 
            type="text"
            id="position"
            name="data"
            placeholder="Ej.Front-end unicorn">

         

            <label for="profileImage">Imagen de perfil</label>
            <div class="image__box">
            <input 
            type="submit"
            value="Añadir imagen"
            id="profileImage"
            name="data">
            
            <div class="image__check"></div>
           </div>

            <label for="email">Email</label>
            <input 
            type="email"
            id="email"
            name="data"
            placeholder="Ej. sally-hill@gmail.com">

            <label for="phoneNumber">Teléfono</label>
            <input 
            type="tel"
            id="phoneNumber"
            name="data"
            placeholder="Ej. 5555-55-55-55">

            <label for="linkedin">LinkedIn</label>
            <input 
            type="text"
            id="linkedin"
            name="data"
            placeholder="Ej. linkedin.com/in/sally.hill">

            <label for="github">GitHub</label>
            <input 
            type="text"
            id="github"
            name="data"
            placeholder="Ej.@sally-hill">



        </fieldset>

        <fieldset class="form__fieldset--share">
            <legend>COMPARTE</legend>
            <input 
            type="submit"
            value="CREAR TARJETA"
            id="shareButton"
            name="create"
            class="share__button">
        </fieldset>

    </form>



</section>